
/*
* mobile generic
*/

@media only screen and (max-width: 768px) {
    .bg {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
    
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }

    .screenshot-img {
        height: 100%;
        width: 100%;
    }
  
    #audio1 {
      position: absolute;
      top: 05%;
      left: 10%;
      z-index: 1;
    }
    
    #audio21 {
      position: absolute;
      top: 55%;
      left: 79%;
      z-index: 1;
    }
    #audio22 {
      position: absolute;
      top: 65%;
      left: 77%;
      z-index: 1;
    }
    #audio23 {
      position: absolute;
      top: 73%;
      left: 83%;
      z-index: 1;
    }
    
    #audio31 {
      position: absolute;
      top: 173%;
      left: 33%;
      z-index: 1;
    }
    #audio32 {
      position: absolute;
      top: 182%;
      left: 13%;
      z-index: 1;
    }
    #audio33 {
      position: absolute;
      top: 191%;
      left: 23%;
      z-index: 1;
    }
    
    #audio40 {
      position: absolute;
      top: 291%;
      left: 43%;
      z-index: 1;
    }
    
    #audio50 {
      position: absolute;
      top: 391%;
      left: 73%;
      z-index: 1;
    }
    
    #audio60 {
      position: absolute;
      top: 451%;
      left: 41%;
      z-index: 1;
    }
    
    #audio70 {
      position: absolute;
      top: 541%;
      left: 68%;
      z-index: 1;
    }
    
    #audio80 {
      position: absolute;
      top: 582%;
      left: 24%;
      z-index: 1;
    }
    
    #audio90 {
      position: absolute;
      top: 635%;
      left: 50%;
      z-index: 1;
    }
    
    #audio100 {
      position: absolute;
      top: 710%;
      left: 14%;
      z-index: 1;
    }
    
    #audio110 {
      position: absolute;
      top: 782%;
      left: 75%;
      z-index: 1;
    }
    
    #audio120 {
      position: absolute;
      top: 842%;
      left: 95%;
      z-index: 1;
    }
    
    #audio130 {
      position: absolute;
      top: 882%;
      left: 48%;
      z-index: 1;
    }
    
    #audio140 {
      position: absolute;
      top: 992%;
      left: 56%;
      z-index: 1;
    }
    
    #audio150 {
      position: absolute;
      top: 1092%;
      left: 56%;
      z-index: 1;
    }
    
    #audio160 {
      position: absolute;
      top: 1172%;
      left: 56%;
      z-index: 1;
    }
    
    #audio161 {
      position: absolute;
      top: 1181%;
      left: 61%;
      z-index: 1;
    }
    
    #audio170 {
      position: absolute;
      top: 1221%;
      left: 24%;
      z-index: 1;
    }
    
    #audio180 {
      position: absolute;
      top: 1295%;
      left: 76%;
      z-index: 1;
    }
    
    #audio190 {
      position: absolute;
      top: 1331%;
      left: 61%;
      z-index: 1;
    }
    #audio191 {
      position: absolute;
      top: 1341%;
      left: 66%;
      z-index: 1;
    }
    #audio192 {
      position: absolute;
      top: 1351%;
      left: 71%;
      z-index: 1;
    }
    #audio193 {
      position: absolute;
      top: 1363%;
      left: 58%;
      z-index: 1;
    }
    #audio194 {
      position: absolute;
      top: 1370%;
      left: 61%;
      z-index: 1;
    }
    #audio195 {
      position: absolute;
      top: 1381%;
      left: 67%;
      z-index: 1;
    }
    #audio196 {
      position: absolute;
      top: 1392%;
      left: 61%;
      z-index: 1;
    }
    #audio197 {
      position: absolute;
      top: 1400%;
      left: 61%;
      z-index: 1;
    }
    
    #audio200 {
      position: absolute;
      top: 1590%;
      left: 85%;
      z-index: 1;
    }
    #audio201 {
      position: absolute;
      top: 1600%;
      left: 85%;
      z-index: 1;
    }
    #audio202 {
      position: absolute;
      top: 1608%;
      left: 83%;
      z-index: 1;
    }
    
    #audio210 {
      position: absolute;
      top: 1778%;
      left: 46%;
      z-index: 1;
    }
    #audio211 {
      position: absolute;
      top: 1787%;
      left: 34%;
      z-index: 1;
    }
    #audio212 {
      position: absolute;
      top: 1798%;
      left: 35%;
      z-index: 1;
    }
    #audio213 {
      position: absolute;
      top: 1808%;
      left: 65%;
      z-index: 1;
    }
    #audio214 {
      position: absolute;
      top: 1816%;
      left: 59%;
      z-index: 1;
    }
    
    #audio220 {
      position: absolute;
      top: 1986%;
      left: 87%;
      z-index: 1;
    }
  
  
  
  
    #screenshot1 {
        left: 90%;
        top: 10%;
    }
      
    #screenshot2 {
    left: 95%;
    top: 60%;
    }
    #screenshot3 {
    left: 70%;
    top: 130%;
    }
    #screenshot4 {
    left: 90%;
    top: 150%;
    }
    
    #screenshot5 {
    left: 94%;
    top: 180%;
    }
    
    #screenshot6 {
    left: 50%;
    top: 210%;
    }
    
    #screenshot7 {
    left: 94%;
    top: 230%;
    }
    
    #screenshot8 {
    left: 82%;
    top: 260%;
    }
    
    #screenshot9 {
    left: 90%;
    top: 300%;
    }
    
    #screenshot10 {
    left: 70%;
    top: 310%;
    }
    #screenshot11 {
    left: 90%;
    top: 360%;
    }
    #screenshot12 {
    left: 94%;
    top: 410%;
    }
    #screenshot13 {
    left: 69%;
    top: 470%;
    }
    #screenshot14 {
    left: 90%;
    top: 490%;
    }
    #screenshot15 {
    left: 42%;
    top: 500%;
    }
    #screenshot16 {
    left: 80%;
    top: 520%;
    }
    #screenshot17 {
    left: 50%;
    top: 620%;
    }
    #screenshot18 {
    left: 90%;
    top: 650%;
    }
    #screenshot19 {
    left: 10%;
    top: 710%;
    }
    #screenshot20 {
    left: 82%;
    top: 840%;
    }
    #screenshot21 {
    left: 99%;
    top: 860%;
    }
    #screenshot22 {
    left: 85%;
    top: 900%;
    }
    #screenshot23 {
    left: 90%;
    top: 950%;
    }
    #screenshot24 {
    left: 94%;
    top: 990%;
    }
    #screenshot25 {
    left: 37%;
    top: 1040%;
    }
    #screenshot26 {
    left: 94%;
    top: 1080%;
    }
    #screenshot27 {
    left: 90%;
    top: 1100%;
    }
    #screenshot28 {
    left: 92%;
    top: 1140%;
    }
    #screenshot29 {
    left: 90%;
    top: 1170%;
    }
    #screenshot30 {
    left: 85%;
    top: 1200%;
    }
    #screenshot31 {
    left: 30%;
    top: 1240%;
    }
    #screenshot32 {
    left: 90%;
    top: 1270%;
    }
    #screenshot33 {
    left: 87%;
    top: 1420%;
    }
    #screenshot34 {
    left: 90%;
    top: 1470%;
    }
    #screenshot35 {
    left: 29%;
    top: 1510%;
    }
    #screenshot36 {
    left: 90%;
    top: 1520%;
    }
    #screenshot37 {
    left: 70%;
    top: 1580%;
    }
    #screenshot38 {
    left: 94%;
    top: 1670%;
    }
    #screenshot39 {
    left: 45%;
    top: 1710%;
    }
    #screenshot40 {
    left: 81%;
    top: 1870%;
    }
    #screenshot41 {
    left: 90%;
    top: 1920%;
    }
    #screenshot42 {
    left: 50%;
    top: 1990%;
    }
    #screenshot43 {
    left: 70%;
    top: 2070%;
    }
    #screenshot44 {
    left: 90%;
    top: 2120%;
    }
    #screenshot45 {
    left: 55%;
    top: 2150%;
    }
    #screenshot46 {
    left: 40%;
    top: 2200%;
    }
  
  
  
  
  
  #video1 {
    position: absolute;
    top: 96%;
    left: 66%;
  }
  
  #video2 {
    position: absolute;
    top: 380%;
    left: 55%;
  }
  
  #video3 {
    position: absolute;
    top: 690%;
    left: 37%;
  }
  
  #video4 {
    position: absolute;
    top: 996%;
    left: 23%;
  }
  
  #video5 {
    position: absolute;
    top: 1200%;
    left: 55%;
  }
  
  #video6 {
    position: absolute;
    top: 1800%;
    left: 67%;
  }
  
  .videos {
    width: 90%;
    height: 90%
  }
  
  
}
  
  /* mobile generic ends */

  /* ----------- for Galaxy and thin mobiles ----------- */

/* Portrait and Landscape */
@media screen 
and (max-width: 360px) 
 {

  #screenshot1 {
    left: 90%;
    top: 10%;
}
  
#screenshot2 {
left: 95%;
top: 60%;
}
#screenshot3 {
left: 70%;
top: 130%;
}
#screenshot4 {
left: 90%;
top: 150%;
}

#screenshot5 {
left: 94%;
top: 180%;
}

#screenshot6 {
left: 50%;
top: 210%;
}

#screenshot7 {
left: 94%;
top: 230%;
}

#screenshot8 {
left: 82%;
top: 260%;
}

#screenshot9 {
left: 90%;
top: 300%;
}

#screenshot10 {
left: 70%;
top: 310%;
}
#screenshot11 {
left: 90%;
top: 360%;
}
#screenshot12 {
left: 94%;
top: 410%;
}
#screenshot13 {
left: 69%;
top: 470%;
}
#screenshot14 {
left: 90%;
top: 490%;
}
#screenshot15 {
left: 42%;
top: 500%;
}
#screenshot16 {
left: 80%;
top: 520%;
}
#screenshot17 {
left: 50%;
top: 620%;
}
#screenshot18 {
left: 90%;
top: 650%;
}
#screenshot19 {
left: 10%;
top: 710%;
}
#screenshot20 {
left: 82%;
top: 840%;
}
#screenshot21 {
left: 99%;
top: 860%;
}
#screenshot22 {
left: 85%;
top: 900%;
}
#screenshot23 {
left: 90%;
top: 950%;
}
#screenshot24 {
left: 94%;
top: 990%;
}
#screenshot25 {
left: 37%;
top: 1040%;
}
#screenshot26 {
left: 94%;
top: 1080%;
}
#screenshot27 {
left: 90%;
top: 1100%;
}
#screenshot28 {
left: 92%;
top: 1140%;
}
#screenshot29 {
left: 90%;
top: 1170%;
}
#screenshot30 {
left: 85%;
top: 1200%;
}
#screenshot31 {
left: 30%;
top: 1240%;
}
#screenshot32 {
left: 90%;
top: 1270%;
}
#screenshot33 {
left: 87%;
top: 1420%;
}
#screenshot34 {
left: 90%;
top: 1470%;
}
#screenshot35 {
left: 29%;
top: 1510%;
}
#screenshot36 {
left: 90%;
top: 1520%;
}
#screenshot37 {
left: 70%;
top: 1580%;
}
#screenshot38 {
left: 94%;
top: 1670%;
}
#screenshot39 {
left: 45%;
top: 1710%;
}
#screenshot40 {
left: 81%;
top: 1870%;
}
#screenshot41 {
left: 90%;
top: 1920%;
}
#screenshot42 {
left: 50%;
top: 1990%;
}
#screenshot43 {
left: 70%;
top: 1070%;
}
#screenshot44 {
left: 90%;
top: 1120%;
}
#screenshot45 {
left: 55%;
top: 1190%;
}
#screenshot46 {
left: 40%;
top: 1290%;
}

}
