/*
* general
*/

.App {
  text-align: center;
}

.draggable {
  position: absolute;
  cursor: move;
}

.screenshot-img {
  height: 33%;
  width: 33%;
}

/*
* general ends
*/

/*
* desktop
*/

.bg {
  /*height: 100%;
  width: 100%;
  background-size: cover;*/
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;

    /*width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;*/
}

#audio1 {
  position: absolute;
  top: 05%;
  left: 10%;
  z-index: 1;
}

#audio21 {
  position: absolute;
  top: 195%;
  left: 69%;
  z-index: 1;
}
#audio22 {
  position: absolute;
  top: 210%;
  left: 67%;
  z-index: 1;
}
#audio23 {
  position: absolute;
  top: 223%;
  left: 63%;
  z-index: 1;
}

#audio31 {
  position: absolute;
  top: 373%;
  left: 10%;
  z-index: 1;
}
#audio32 {
  position: absolute;
  top: 382%;
  left: 13%;
  z-index: 1;
}
#audio33 {
  position: absolute;
  top: 391%;
  left: 23%;
  z-index: 1;
}

#audio40 {
  position: absolute;
  top: 531%;
  left: 43%;
  z-index: 1;
}

#audio50 {
  position: absolute;
  top: 641%;
  left: 73%;
  z-index: 1;
}

#audio60 {
  position: absolute;
  top: 751%;
  left: 41%;
  z-index: 1;
}

#audio70 {
  position: absolute;
  top: 841%;
  left: 68%;
  z-index: 1;
}

#audio80 {
  position: absolute;
  top: 932%;
  left: 24%;
  z-index: 1;
}

#audio90 {
  position: absolute;
  top: 1020%;
  left: 50%;
  z-index: 1;
}

#audio100 {
  position: absolute;
  top: 1100%;
  left: 14%;
  z-index: 1;
}

#audio110 {
  position: absolute;
  top: 1200%;
  left: 72%;
  z-index: 1;
}

#audio120 {
  position: absolute;
  top: 1310%;
  left: 71%;
  z-index: 1;
}

#audio130 {
  position: absolute;
  top: 1400%;
  left: 48%;
  z-index: 1;
}

#audio140 {
  position: absolute;
  top: 1520%;
  left: 56%;
  z-index: 1;
}

#audio150 {
  position: absolute;
  top: 1630%;
  left: 56%;
  z-index: 1;
}

#audio160 {
  position: absolute;
  top: 1722%;
  left: 56%;
  z-index: 1;
}

#audio161 {
  position: absolute;
  top: 1732%;
  left: 56%;
  z-index: 1;
}

#audio170 {
  position: absolute;
  top: 1841%;
  left: 61%;
  z-index: 1;
}

#audio180 {
  position: absolute;
  top: 2000%;
  left: 72%;
  z-index: 1;
}

#audio190 {
  position: absolute;
  top: 2100%;
  left: 61%;
  z-index: 1;
}
#audio191 {
  position: absolute;
  top: 2110%;
  left: 61%;
  z-index: 1;
}
#audio192 {
  position: absolute;
  top: 2122%;
  left: 71%;
  z-index: 1;
}
#audio193 {
  position: absolute;
  top: 2131%;
  left: 61%;
  z-index: 1;
}
#audio194 {
  position: absolute;
  top: 2144%;
  left: 61%;
  z-index: 1;
}
#audio195 {
  position: absolute;
  top: 2152%;
  left: 57%;
  z-index: 1;
}
#audio196 {
  position: absolute;
  top: 2161%;
  left: 51%;
  z-index: 1;
}
#audio197 {
  position: absolute;
  top: 2172%;
  left: 69%;
  z-index: 1;
}

#audio200 {
  position: absolute;
  top: 2240%;
  left: 70%;
  z-index: 1;
}
#audio201 {
  position: absolute;
  top: 2251%;
  left: 73%;
  z-index: 1;
}
#audio202 {
  position: absolute;
  top: 2260%;
  left: 75%;
  z-index: 1;
}

#audio210 {
    position: absolute;
    top: 2411%;
    left: 46%;
    z-index: 1;
}
#audio211 {
  position: absolute;
  top: 2421%;
  left: 49%;
  z-index: 1;
}
#audio212 {
  position: absolute;
  top: 2432%;
  left: 66%;
  z-index: 1;
}
#audio213 {
  position: absolute;
  top: 2440%;
  left: 40%;
  z-index: 1;
}
#audio214 {
  position: absolute;
  top: 2450%;
  left: 46%;
  z-index: 1;
}

#audio220 {
  position: absolute;
  top: 2700%;
  left: 67%;
  z-index: 1;
}





#screenshot1 {
  left: 55%;
  top: 70%;
}

#screenshot2 {
  left: 60%;
  top: 60%;
}
#screenshot3 {
  left: 70%;
  top: 130%;
}
#screenshot4 {
  left: 70%;
  top: 190%;
}

#screenshot5 {
  left: 60%;
  top: 250%;
}

#screenshot6 {
  left: 50%;
  top: 300%;
}

#screenshot7 {
  left: 64%;
  top: 400%;
}

#screenshot8 {
  left: 57%;
  top: 510%;
}

#screenshot9 {
  left: 60%;
  top: 620%;
}

#screenshot10 {
  left: 70%;
  top: 730%;
}
#screenshot11 {
  left: 74%;
  top: 830%;
}
#screenshot12 {
  left: 58%;
  top: 950%;
}
#screenshot13 {
  left: 69%;
  top: 1080%;
}
#screenshot14 {
  left: 80%;
  top: 1190%;
}
#screenshot15 {
  left: 62%;
  top: 1300%;
}
#screenshot16 {
  left: 70%;
  top: 1400%;
}
#screenshot17 {
  left: 50%;
  top: 1510%;
}
#screenshot18 {
  left: 70%;
  top: 1600%;
}
#screenshot19 {
  left: 40%;
  top: 1730%;
}
#screenshot20 {
  left: 72%;
  top: 1870%;
}
#screenshot21 {
  left: 59%;
  top: 1940%;
}
#screenshot22 {
  left: 70%;
  top: 2070%;
}
#screenshot23 {
  left: 60%;
  top: 2170%;
}
#screenshot24 {
  left: 59%;
  top: 2270%;
}
#screenshot25 {
  left: 47%;
  top: 2370%;
}
#screenshot26 {
  left: 64%;
  top: 2470%;
}
#screenshot27 {
  left: 70%;
  top: 2570%;
}
#screenshot28 {
  left: 58%;
  top: 2670%;
}
#screenshot29 {
  left: 40%;
  top: 2770%;
}
#screenshot30 {
  left: 70%;
  top: 2870%;
}
#screenshot31 {
  left: 60%;
  top: 2970%;
}
#screenshot32 {
  left: 50%;
  top: 3070%;
}
#screenshot33 {
  left: 70%;
  top: 3170%;
}
#screenshot34 {
  left: 70%;
  top: 3270%;
}
#screenshot35 {
  left: 69%;
  top: 3370%;
}
#screenshot36 {
  left: 60%;
  top: 2920%;
}
#screenshot37 {
  left: 50%;
  top: 2990%;
}
#screenshot38 {
  left: 64%;
  top: 3070%;
}
#screenshot39 {
  left: 45%;
  top: 3110%;
}
#screenshot40 {
  left: 40%;
  top: 3170%;
}
#screenshot41 {
  left: 70%;
  top: 3220%;
}
#screenshot42 {
  left: 50%;
  top: 3290%;
}
#screenshot43 {
  left: 70%;
  top: 3370%;
}
#screenshot44 {
  left: 60%;
  top: 3420%;
}
#screenshot45 {
  left: 55%;
  top: 3490%;
}
#screenshot46 {
  left: 40%;
  top: 3590%;
}





#video1 {
  position: absolute;
  top: 116%;
  left: 32%;
}

#video2 {
  position: absolute;
  top: 626%;
  left: 19%;
}

#video3 {
  position: absolute;
  top: 1056%;
  left: 27%;
}

#video4 {
  position: absolute;
  top: 1866%;
  left: 28%;
}

#video5 {
  position: absolute;
  top: 2696%;
  left: 29%;
}

#video6 {
  position: absolute;
  top: 3400%;
  left: 21%;
}

.videos {
  width: 50%;
  height: 50%
}

/*
* desktop ends
*/



